@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=PT+Serif:ital@0;1&display=swap');

body{
    background-color: #F1DEC9;
    width: 750px;
    height: auto;
    padding: 45px;
    margin: auto;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 41.47px;
    margin-top: 15px;
    padding-bottom: 0px;
    color: #8D7B68;
}

h2{
    font-size: 34.56px;
    text-align: left;
}

ul, ol{
    font-family: 'PT Serif', serif;
    font-size: 24px;
    letter-spacing: 0px;
    font-style: none;
    padding: 15px;
    margin: 0;
}

li{
    padding-bottom: 25px;
    padding-top: 3px;
    list-style-type: none;
    color: #8D7B68;
    text-align: justify;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 5px solid #C8B6A6;
    width: 450px;
    height: auto;
}
